<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            <!-- CSS -->
            <link rel="stylesheet" href="/static/css/bootstrap_themed.css">
            <link rel="stylesheet" href="/static/fontawesome/css/all.css">
            <link rel="stylesheet" href="/static/css/colonizer.css">
            {% if g.testserver %}
            <link rel="stylesheet" href="/static/css//colonizer_test.css">
            {% endif %}
        {% endblock %}
        <!-- FavIcon stuff-->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <!-- Title -->
        <title>{% block title %} Colonizer {% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}
        {% block scripts %}
            <!-- JavaScript -->
            <script src="/static/jquery/jquery.min.js"></script>
            <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/static/fontawesome/js/all.min.js"></script>
            <script>
                setTimeout(location.reload.bind(location), {{(g.timeout+5)*1000}}); // reload page after inactivity to present login page
                console.log("Logout after {{g.timeout}} seconds");
            </script>
        {% endblock %}
    </body>
</html>