{% extends "interface.html" %}

{% block page_content %}
<div class="row justify-content-between">
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">From</label></div>
			<input type="date" class="form-control" id="date_from" value="{{date_from}}" required>
		</div>
	</div>
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">To</label></div>
			<input type="date" class="form-control" id="date_to" value="{{date_to}}" required>
		</div>
	</div>
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">Batch</label></div>
			<input type="text" class="form-control" id="batch" size=10 value="{{batch}}">
		</div>
	</div>
	<div class="col-auto">
		<button class="btn btn-primary" type="button" id="search">Search</button>
	</div>
</div>
<div class="settleplate-list"><form class="form" method="post">
	<table class="table table-sm table-striped">
		<thead class="thead-light">
			{% if g.isAdmin %}
			<th><i class="fa fa-trash"></i></th>
			{% endif %}
			<th>Scandate</th>
			<th>Barcode</th>
			<th>Counts</th>
			<th>Username</th>
			<th>Batch</th>
			<th>Location</th>
		</thead>
		<tbody>
			{% for sp in settleplates %}
			<tr>
				{% if g.isAdmin %}
				<td>
					<div class="checkbox">
						<input type="checkbox" name="selected" value="{{ sp.ID }}">
					</div>
				</td>
				{% endif %}
				<td><a
						href="/settleplate/{{ sp.ID }}">{{ sp.ScanDate.strftime("%Y-%m-%d %H:%M") }}</a>
				</td>
				<td>{{ sp.Barcode }}</td>
				<td>{{ sp.Counts if (sp.Counts != -1) else 'reg' }}</td>
				<td>{{ sp.Username }}</td>
				<td>{{ sp.Batch }}</td>
				<td>{{ sp.Location }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if g.isAdmin %}
	<button type="submit" class="btn btn-primary">Delete selected</button>
	{% endif %}
</form></div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="/static/js/list.js"></script>

{% endblock %}