<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">
			<div class="d-flex flex-column">
				<p>Colonizer</p>
				<p>v{{ g.version }}</p>
			</div>
		</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" id="nav_register">
				<a class="nav-link" href="/settleplate/register">Register</a>
			</li>
			<li class="nav-item" id="nav_list">
				<a class="nav-link" href="/settleplate/list">List</a>
			</li>
			<li class="nav-item" id="nav_scan">
				<a class="nav-link" href="/settleplate/scan">Scan</a>
			</li>
			<li class="nav-item" id="nav_image">
				<a class="nav-link" href="/images/capture">Camera</a>
			</li>
			{% if g.isAdmin %}
			<li class="nav-item" id="nav_settings">
				<a class="nav-link" href="/admin/settings">Settings</a>
			</li>
			<li class="nav-item dropdown" id="nav_hiscore">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">HiScore</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/hiscore/all-time">All time</a>
					<a class="dropdown-item" href="/hiscore/last-year">Last year</a>
					<a class="dropdown-item" href="/hiscore/last-month">Last month</a>
					<a class="dropdown-item" href="/hiscore/all-time?location=Hansketrykk">Hansketrykk</a>
				</div>
			</li>
			{% endif %}
			<li class="nav-item" id="nav_logout">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>
	</div>
	{% if g.testserver %}
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav">
			<li class="navbar-text">[TEST SERVER]</li>
		</ul>
	</div>
	{% endif %}
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav ml-auto">
			{% if g.username %}
			<li class="navbar-text">User: {{g.username}}</li>
			{% else %}
			<li class="navbar-text">Not logged in</li>
			{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-text status {{'status-online' if g.status['camera']}}" title="Camera" id="status_camera"><i class="fa fa-camera"></i></li>
			<li class="nav-item status {{'status-online' if g.status['sql']}}" title="SQL" id="status_sql"><i class="fa fa-database"></i></li>
			<li class="nav-item status {{'status-online' if g.status['storage']}}" title="Filesystem" id="status_storage"><i class="fa fa-server"></i></li>
		</ul>
	</div>
</nav>