{% extends "interface.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/hive/CFUdetect.css">
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="/static/tensorflow/tf.min.js"></script>
	<script src="/static/js/scan.js"></script>
	<script src="/static/hive/CFUdraw.js"></script>
	<script src="/static/hive/CFUdetect.js"></script>
	{% if autocount %}
	<script>
		$(document).ready(function() {
			$("#image").on('load', function() {
				if ($(this).attr("src") == image_src) {
					cfu_detect();
					$("#commit").attr("disabled", false);
					$("#commit").trigger("focus");
				}
			});
		});
	</script>
	{% endif %}
{% endblock %}
{% block page_content %}
<div class="row">
	<div class="col mx-3">
		<div class="row mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" style="width: 90px;">Serial</label>
				</div>
				<input type="text" class="form-control" id="barcode" autofocus autocomplete="off" placeholder="&lt;barcode&gt;">
				<div class="input-group-append">
					<button id="clear" type="button" class="btn btn-secondary"><i class="fa fa-backspace"></i></button>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" style="width: 90px;">Batch#</label>
				</div>
				<input type="text" class="form-control" id="batch" readonly placeholder="">
			</div>
		</div>
		<div class="row mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" style="width: 90px;">Location</label>
				</div>
				<input type="text" class="form-control" id="location" readonly placeholder="">
			</div>
		</div>
		<div class="row mb-3">
			<table class="table table-sm table-striped">
				<thead class="thead-light">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">&Delta;T (Hours)</th>
						<th scope="col">Counts</th>
					</tr>
				</thead>
				<tbody id="table_timepoints">
				</tbody>
			</table>
		</div>
		<div class="row alert alert-warning" id="sameuser_error" style="display: none;">
			<strong>Warning!</strong> Same user scanning as registering plate!
		</div>
		<div class="row alert alert-danger" id="commit_fail" style="display: none;">
			<strong>Error!</strong>&nbsp;Failed to commit image to DB
		</div>
		<div class="row alert alert-success" id="commit_ok" style="display: none;">
			<strong>Success!</strong>&nbsp;Image committed to DB
		</div>

	</div>
	<div class="col mx-3">
		<div class="row mb-3">
			<div class="imageview imageview-overlay">
				<img id="image" src="">
				<svg viewBox="0 0 1 1" preserveAspectRatio="none" id="overlay"></svg>
				<div class="btn-group">
					<button id="zoom" type="button" class="btn btn-secondary"><i class="fa fa-search-plus"></i></button>
					<button id="detect" type="button" class="btn btn-secondary" disabled><i class="fa fa-magic"></i></button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" style="width: 90px;">Counts</label>
				</div>
				<input type="number" min=0 step=1 class="form-control" id="Counts" placeholder="&lt;# of colonies&gt;">
				<div class="input-group-append">
					<button id="refresh" type="button" class="btn btn-secondary"><i class="fa fa-camera"></i></button>
					<button id="commit" type="button" class="btn btn-secondary"><i class="fa fa-save"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="imagemodal" class="modal">
	<div class="modal-content">
		<div class="modal-body">
			<img src="" data-dismiss="modal" data-target="imagemodal" id="imagezoom"
				style="width:100%;cursor:zoom-out">
		</div>
	</div>
</div>

{% endblock %}
