{% extends "interface.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/hive/CFUdetect.css">
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="/static/tensorflow/tf.min.js"></script>
	<script src="/static/hive/CFUdraw.js"></script>
	{% if not readonly %}
	<script src="/static/hive/CFUdetect.js"></script>
	{% endif %}
	<script>
		$(document).ready(function() {
			// zoom in on image on click
			$("#zoom").click(function () {
				$("#imagemodal").modal('show');
			});
			$("#SPform").on("submit", save_cfu);
			$('[data-toggle="tooltip"]').tooltip();
			load_cfu();
			threshold_high = {{ hive_settings['confidence_threshold_high'] }}
		});
		function save_cfu() {
			$("#Colonies").val(cfu_export()); 
		}
		function load_cfu() {
			cfu_data = $("#Colonies").val()
			if (cfu_data.length > 4) {
				cfu_import($("#Colonies").val()); 
			}
		}
	</script>
{% endblock %}
{% block page_content %}

<form id="SPform" class="form" method="post">
<div class="row">
	<div class="col mx-3">
		{% from "bootstrap_form.html" import render_field %}
		{{ form.hidden_tag() }}
		<div class="col">
			{{ render_field(form.Username) }}
			{{ render_field(form.ScanDate) }}
			{{ render_field(form.Barcode) }}
			{{ render_field(form.Batch) }}
			{{ render_field(form.Location) }}
			{{ render_field(form.Counts) }}
			{% if not readonly %}
			<div class="row btn-group">
				<button id="update" type="submit" class="btn btn-secondary" name="send" value="update"  data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-save"></i></button>
				<button id="delete" type="submit" class="btn btn-danger" name="send" value="delete"  data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></button>
			</div>
			{% endif %}
			{% if updated %}
			<div class="row mt-3">
				<div class="alert alert-success mt-3" id="commit_ok">
					<strong>Success!</strong>&nbsp;Settleplate updated
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col mx-3">
		<div class="row mb-3">
			<div class="imageview imageview-overlay">
				<img id="image" src="/images/{{settleplate.ID}}">
				<svg viewBox="0 0 1 1" preserveAspectRatio="none" id="overlay"></svg>
				<div class="btn-group">
					<button id="zoom" type="button" class="btn btn-secondary"><i class="fa fa-search-plus"></i></button>
					{% if not readonly %}
					<button id="detect" type="button" class="btn btn-secondary" disabled="disabled"  data-toggle="tooltip" data-placement="bottom" title="AI count"><i class="fa fa-magic"></i></button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<div id="imagemodal" class="modal">
	<div class="modal-content">
		<div class="modal-body">
			<img src="/images/{{settleplate.ID}}" data-dismiss="modal" data-target="imagemodal" id="imagezoom"
				style="width:100%;cursor:zoom-out">
		</div>
	</div>
</div></form>
{% endblock %}