.idea
.vscode
__pycache__
install/etc/.smbcredentials
install/etc/fstab
instance
venv
*.ipynb
*.sqlite
secret.key
config/*
!config/default.json
sass
webdaemon/static/fontawesome
webdaemon/static/bootstrap
webdaemon/static/tensorflow
webdaemon/static/jsoneditor
webdaemon/static/css/bootstrap_themed.css.map
webdaemon/static/css/bootstrap_themed.css
webdaemon/static/2021-08-17_-_8_Bit_Nostalgia_-_www.FesliyanStudios.com.mp3
webdaemon/static/fonts/joystix_monospace.otf
